

h1 {
  colour: blue;
  background-color: yellow;
  border: 1px solid black;
  text-align: center;
  text-decoration: underline;
}

p {
  color: red;
}

p, li {
  text-decoration: underline;
}


@media (min-width: 80px) {
  body {
    margin: 0 auto;
    width: 800px;
  }
}
