p {
  color: red;
  text-align: center;

}
#para1 {
  text-align: center;
  text color: red;
}

.center {
  text-align: center;
  text color: red;
}

.p center {
  text-align: center;
  text color: red;
}

p. center {
  text-align: center;
  text color: red;
}

p. large {
  font-size: 300%;
}

h1, h2, p {
  text-align: center;
  text color: red;
}

p {
  text-align: center;
  text color: red;
  /* this is a coment */
}

body {
  background-color: linen;
}
